<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
</head>
<body>
    {% include 'index.html' %}

    <fieldset>
        <form action="{% url 'change_password' user.id %}" method="POST">
            {% csrf_token %}

            <label for="">New password: </label>
            <input type="password" name="new_password" id="password" required> <br>

            <label for="">Confirm password: </label>
            <input type="password" name="confirm_new_password" id="password" required> <br>
            
            <input type="submit" value="Submit">
        </form>
            {% for message in messages %}
                {{message}}
            {% endfor %}
    </fieldset>
</body>
</html>